OPENAI_API_KEY=
SURFSKY_API_TOKEN=
SURFSKY_API_BASE_URL=https://api-de2.surfsky.io
SHOPEE_AFFILIATE_TOKEN=
MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
AMAZON_ACCESS_KEY=
AMAZON_SECRET_KEY=
AMAZON_PARTNER_TAG=
SHOPIFY_COLLABS_TOKEN=
